.box {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  margin: 50px auto;
}

.ox {
  width: 100px;
  height: 100px;
  background : cadetblue;
  line-height: 100px;
  float: left;
  border: 1px solid #eee;
  box-sizing: border-box;
  font-size: 44px;
  color: white;
  text-align: center;


}
